header.banner {
    background-image: url(https://postimg.cc/RJ1R8rTx);
    background-color: aquamarine;
    padding: 30px 50px 20px;
    text-align: center;
    min-width: 250px;
}

banner.div.h1 {
    background-color: rgb(147, 168, 26);
}

body {
    font-family: 'Sono', sans-serif;
    color: rgb(51, 51, 51);
}

h1 {
    font-family: 'Poppins', sans-serif;
    margin: 8px 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin: 5px 0;
}

h3 {
    margin: 5px 0;
    padding-bottom: 10px;
}

div.container {
    padding: 10px;
}

div.imagem {
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 250px;
    max-width: 1100px;
    margin: 10px auto;
}

div.imagem img {
    border-radius: 10px;
}


div.bloco iframe {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

div.imagem p {
    padding: 10px 0;
}

a {
    color: rgb(97, 97, 97);
    width: 200px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 15px 0;
    text-align: right;
    justify-content: center;
    background-color: aquamarine;
    margin: 20px auto;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
}

a:hover {
    color: rgba(255, 255, 255, 0.603);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.15);
}

div.bloco {
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    padding: 30px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    min-width: 250px;
    max-width: 1100px;
    margin: 10px auto;
}

div.imagemMenor {
    margin: 0 auto;
}

div.lottieBox {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

lottie-player.lottie {
    width: 150px;
    height: 150px;
}